:root {
  --nav-color: #dbeef5;
  --primary-font: #252525;
  --secondry-font: #474747;
  --tertiary-font: #686868;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
nav {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--nav-color);
  height: 70px;
  color: var(--primary-font);
}

.row {
  background-color: #f7f0e7;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50 vh;
  background-color: #f7e5d0;
}

.card p {
  margin: 20px 0;
  color: var(--tertiary-font);
}

.buttons {
  display: flex;
  min-width: 80%;
  justify-content: space-between;
}

@media screen and (max-width: 1055px) {
  .buttons {
    display: flex;
    flex-direction: column-reverse;
  }
  .buttons a {
    margin-bottom: 10px;
  }
}
